<div class="course-section">
    <div class="row align-items-center gx-5 gy-5">
        <div class="col-12 col-lg-7">
        <div class="course-content">
            <div class="course-header">
                <div class="course-code">{{code}}</div>
                <h2 class="course-title">{{title}}</h2>
                <div class="course-professor">{{professor}}</div>
                <div class="course-tags">{{tagPlaceholder}}</div>    
            </div>
            <p class="course-description">{{description}}</p>
            <div class="course-link-container">{{linkPlaceholder}}</div>
        </div>
        </div>
        <div class="col-12 col-lg-5">
        <div class="course-image">
            <img src="{{image}}" alt="{{title}}" class="course-img">
        </div>
        </div>
    </div>

</div>
<div class="course-divider container-md"></div>

