<div class="member-card col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
  <div class="member-card-inner">
    <div class="member-card-image">
      <img src="{{image}}" alt="{{name}}" class="member-img">
    </div>
    <div class="member-card-content">
      <div class="member-name-group">
        <h3 class="member-name">{{name}}</h3>
        <p class="member-pronouns">{{pronouns}}</p>
      </div>
      <p class="member-title">{{title}}</p>
    </div>
    <div class="member-card-icons">
      {{emailIcon}}
      {{websiteIcon}}
      {{linkedinIcon}}
    </div>
  </div>
</div>

