<div class="page-hero-section">
  <div class="container-md">
    <div class="row align-items-center gx-5 gy-5">
      <div class="page-hero-content col-12 col-lg-6 position-relative px-5">
        <div class="page-hero-gradient">
          <img src="img/brand/horizontal-gradient.svg" alt="" class="page-hero-gradient-img">
        </div>
        <h1 class="page-hero-title position-relative">{{title}}</h1>
        <p class="page-hero-description position-relative">{{description}}</p>
      </div>
      <div class="col-12 col-lg-6 hero-visual-container">
        <div class="hero-visual">
          <div class="image-skewed">
            <figure>
              <img src="{{image}}" alt="{{title}}" class="img-fluid">
            </figure>
          </div>
          <div class="rect-skewed"></div>
        </div>
      </div>
    </div>
  </div>
</div>

