<div class="publication-card col-12">
  <div class="publication-card-inner">
    
    <h4 class="publication-title">
      {{awardBadge}}
      {{title}}
    </h4>
    <p class="publication-authors">{{authors}}</p>
    <div class="publication-card-footer"> 
      <p class="publication-details">{{details}}</p>
    <div class="publication-card-actions">
      <a href="{{link}}" class="publication-link" target="_blank" rel="noopener noreferrer">
        <span>View Paper</span>
        <span class="material-symbols-outlined">arrow_outward</span>
      </a>
      </div>
    </div>
  </div>
</div>
