<div class="research-project-section">
  <div class="container-md">
    <div class="row align-items-center gx-5 gy-5">
      <div class="col-12 col-md-7">
        <div class="research-project-content">
          <h2 class="research-project-title">{{title}}</h2>
          <p class="research-project-description">{{description}}</p>
          <div class="research-project-link-container">{{linkPlaceholder}}</div>
        </div>
      </div>
      <div class="col-12 col-md-5">
        <div class="research-project-image">
          <img src="{{image}}" alt="{{title}}" class="research-project-img">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="research-project-divider container-md"></div>

